
.projectSection {
    display: flex;
    width: 80vw;
    height: auto;
    flex-direction: column;
    margin: 5rem auto;
    gap: 20px;
}

.projectCard {
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: left;
    border-radius: 50px;
    background: #412C2C;
    margin: auto;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 600px;

}

.projectImage {
    width: 400px;
    height: 250px;
    padding: 20px;
}

.projectImage img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.projectName {
    font-size: 1.5em;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projectDescription {
    color: #FFF;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projectStack {
    margin: 10px auto;
}

.stackList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 5px auto auto auto;
}

.stackTag {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9em;
    color: #F3E4CB;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 18.413px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.stackTag:hover {
    animation: tremble 0.3s infinite;
}

@keyframes tremble {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(-1px, -1px) rotate(-1deg); }
    75% { transform: translate(-1px, 1px) rotate(1deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
}

.projectButton {
    text-decoration: none;
    border-radius: 20px;
    background: #6E382F;
    cursor: pointer;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 18.413px;
    transition: all 0.3s ease;
}

.projectButton:hover {
    background: #8B463A;
    transform: translateY(-2px);
}