
.projectSection {
    margin: 20px 0;
    border-radius: 50px;
    background: #412C2C;
}

.projectStack {
    margin: 10px 0;
}

.stackList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 5px;
}

.stackTag {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9em;
}