
.projectSection {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    margin: 100px auto 0 auto;
    gap: 20px;
}

.projectCard {
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: left;
    border-radius: 50px;
    background: #412C2C;
    margin: auto;
    transition: all 0.3s ease;
}

.projectCard:hover {
    background: #4d3535;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 600px;
    width: auto;
}

.projectImage {
    width: 400px;
    height: 250px;
    padding: 20px;
}

.projectImage img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.projectName {
    font-size: 1.5em;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projectDescription {
    color: #FFF;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: auto;
}

.projectStack {
    margin: 10px auto;
}

.stackList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 5px auto auto auto;
}

.stackTag {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9em;
    color: #F3E4CB;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 18.413px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.stackTag:hover {
    animation: tremble 0.3s infinite;
}

@keyframes tremble {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(1deg); }
    50% { transform: translate(-1px, -1px) rotate(-1deg); }
    75% { transform: translate(-1px, 1px) rotate(1deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
}

.projectButton {
    text-decoration: none;
    border-radius: 20px;
    background: #6E382F;
    cursor: pointer;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 18.413px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.projectButton:hover {
    background-color: #8B463A;
    transform: translateY(-2px);
}

@media (max-width: 480px) {
    .projectName {
        font-size: 1em;
    }
    
    .projectDescription {
        font-size: 1em;
    }

    .stackTag {
        padding: 3px 12px;
        font-size: 1em;
    }
    
    .projectCard {
        padding: 10px;
        flex-direction: column;
        gap: 5px;
        border-radius: 30px;
    }

    .projectImage {
        width: auto;
        height: auto;
        padding: 10px;
    }
    
    .projectImage img {
        width: 100%;
        height: auto;
    }
    .projectInfo {
        align-items: center;
        max-width: 500px;
        padding: 10px;
    }

    .projectSection {
        margin: 20px auto 0 auto;
    }
}

@media (min-width: 481px) and (max-width: 599px) {
    .projectSection {
        margin: 20px auto 0 auto;
    }

    .projectName {
        font-size: 1em;
    }
    
    .projectDescription {
        font-size: 0.5em;
    }

    .stackTag {
        padding: 3px 12px;
        font-size: 1em;
    }

    .projectCard {
        padding: 10px;
        flex-direction: column;
        gap: 5px;
        border-radius: 30px;
    }

    .projectImage {
        width: auto;
        height: 250px;
        padding: 20px;
    }
    
    .projectImage img {
        width: 100%;
        height: auto;
    }

    .projectInfo {
        align-items: center;
        max-width: 500px;
        padding: 20px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .projectSection {
        margin: 20px auto 0 auto;
    }
    
    .projectName {
        font-size: 1.5em;
    }
    
    .projectDescription {
        font-size: 1em;
    }

    .stackTag {
        padding: 6px 12px;
        font-size: 1em;
    }
    .projectCard {
        padding: 10px;
        flex-direction: column;
        gap: 5px;
    }
    .projectImage {
        width: auto;
        height: 250px;
        padding: 20px;
    }
    
    .projectImage img {
        width: auto;
        height: 100%;
        padding: 20px;
    }

    .projectInfo {
        align-items: center;
        max-width: 500px;
        padding: 20px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    .projectName {
        font-size: 1.5em;
    }
    
    .projectDescription {
        font-size: 1em;
    }

    .stackTag {
        padding: 6px 12px;
        font-size: 1em;
    }
    .projectCard {
        padding: 30px 10px;
        flex-direction: column;
        gap: 5px;
    }
    .projectImage {
        max-width: 300px;
        height: 100%;
        padding: 20px;
    }
    
    .projectImage img {
        width: 100%;
        height: auto;
    }
    .projectInfo {
        align-items: center;
        max-width: 500px;
        padding: 20px;
    }

}

@media (min-width: 1200px) and (max-width: 1700px) {
    .projectInfo {
        width: 1600px;
    }
}