.hero{
    display: flex;
    position: relative;
    width: auto;
    height: 80vh;
    padding: 200px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    align-self: stretch;
    border-radius: 50px;
    background-image: url('/assets/heroBGImage.png');
    background-size: cover;
    background-position: center;
    margin: 50px auto;
    overflow: hidden;
}
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 0 0 0;
}

.hero-image-container {
    position: relative; 
    width: 100%;
    height: auto;
    left: 40vw;
    top: 5vw;
}

.hero-computer {
    position: absolute;
    width: 100%;
    height:auto;
    z-index: 2; 
}

.hero-ball {
    position: absolute; 
    width: 100%;
    height:auto;
    z-index: 1; 
}

.hero-title{
    font-size: 5em;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 100px;
}

.hero-subtitle{
    font-size: 3em;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.hero-subtitle-name{
    color: #E4C398;
}

.hero-description{
    color: #FFF;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    max-width: 800px;
    margin: 0;
    max-width: 40vw;
}

.role-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    width: 100%; 
}

.role-green{
    color: #899675;
}   

.role-beige{
    color:#CABBA1;
}

.role-pink{
    color: #CAA1A1;
}

.social-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 0;
}

.social-icons i {
    font-size: 3rem; 
    color: #fff; 
    transition: color 0.3s ease; 
}

.social-icons i:hover {
    color: #E4C398; 
}

.resume-button {
    text-decoration: none;
    border-radius: 20px;
    background: #968068;
    cursor: pointer;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 18.413px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.resume-button:hover {
    background: #a28b72;
    transform: translateY(-2px);
}

@media (max-width: 480px) {
    .hero {
        background-image: url('/assets/heroBGImageMobileSmall.png');
        padding: 100px 10px;
        height: 65vh;
        margin: 10px auto;
    }

    .hero-text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 50px;
        left: 20px;
        gap: 10px;
    }
    
    .hero-title {
        font-size: 3em;
    }
    
    .hero-subtitle {
        font-size: 2em;
    }
    
    .hero-description {
        font-size: 0.8em;
        min-width: 300px;
        padding: 5px 0;
    }

    .role-container{
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 1em;
        font-style: normal;
        line-height: 10px;
        width: 100%; 
        padding: 5px 0;
    }

    .role-green{
        margin: 5px;
    }   
    
    .role-beige{
        margin: 5px;
    }
    
    .role-pink{
        margin: 5px;
    }
    .social-icons i {
        font-size: 1.5rem; 
        color: #fff; 
        transition: color 0.3s ease; 
    }
    
    .social-icons i:hover {
        color: #E4C398; 
    }

    .social-icons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 5px 0;
    }

    .resume-button {
        padding: 5px 30px;
        font-size: 0.8em;
    }

  }

@media (min-width: 481px) and (max-width: 599px) {
    .hero {
        background-image: url('/assets/heroBGImageMobileSmall.png');
        padding: 100px 10px;
        height: 50vh;
    }

    .hero-text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 50px;
        left: 20px;
    }
    
    
    .hero-title {
        font-size: 3em;
    }
    
    .hero-subtitle {
        font-size: 2em;
    }
    
    .hero-description {
        font-size: 0.8em;
        min-width: 300px;
    }

    .role-container{
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 1em;
        font-style: normal;
        line-height: 10px;
        width: 100%; 
    }

    .social-icons i {
        font-size: 1.5rem; 
        color: #fff; 
        transition: color 0.3s ease; 
    }
    
    .social-icons i:hover {
        color: #E4C398; 
    }

    .social-icons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 5px 0;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .hero {
        background-image: url('/assets/heroBGImageMobileSmall.png');
        padding: 100px 10px;
        height: 50vh;
    }
    .hero-title {
        font-size: 3em;
    }
    
    .hero-subtitle {
        font-size: 2em;
    }
    
    .hero-description {
        font-size: 1em;
        min-width: 300px;
    }

    .role-container{
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 1em;
        font-style: normal;
        line-height: 10px;
        width: 100%; 
    }
    .hero-text-container{
        top: 5px;
    }
}
@media (min-width: 600px) and (max-width: 767px) {
    .hero {
        background-image: url('/assets/heroBGImageMobile.png');
        padding: 100px 30px;
        height: 60vh;
    } 
    .hero-text-container{
        top: 5px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    .hero {
        background-image: url('/assets/heroBGImageMobile.png');
        padding: 100px 60px;
        height: 60vh;
    }

    .hero-text-container{
        top: 5px;
    }
}

@media (min-width: 1200px) and (max-width: 1700px) {
    .hero {
        background-image: url('/assets/heroBGImageMidScreen.png');
        padding: 100px 60px;
        height: 60vh;
    }
    .hero-text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative; 
        top: 0px;
        bottom: 500px;
    }
}

@media (min-width: 1700px){
    .hero {
        padding: 120px 60px;
        height: 60vh;
        width: 1500px;
    }

    .hero-container {
        margin: auto 0; 
    }
    .hero-text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative; 
        top: 0px;
        bottom: 500px;
    }

    .hero-description {
        max-width: 700px;
    }
}