header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin: auto;
}
  
.logo{
  font-size: 1.5rem;
  font-weight: 700;
  min-width: 200px;
  margin: auto;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  margin: auto;
}