:root {
  font-family: "Quicksand", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: auto;

  color: rgba(255, 255, 255, 0.87);
  background-color: #2A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

body{
  background-color: #2A1A1A;
  color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  min-height: 100vh;
  margin: auto;
}


h2{
  font-size: 2em;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 1.5em auto;
}

@media (max-width: 480px) {
  body {
    padding: 0px 10px;
  }

  h2{
    font-size: 1em;
  }
}

@media (min-width: 481px) and (max-width: 599px) {
  body {
    padding: 0px 20px;
  }

  h2{
    font-size: 1em;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  body {
    padding: 0px 30px;
  }

  h2{
    font-size: 1em;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  body {
    padding: 0px 60px;
  }
}

@media (min-width: 1200px) and (max-width: 1700px) {

}